<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>908677582509-ue2oeme8epsn09p40ac9e3dujco32p2l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.908677582509-ue2oeme8epsn09p40ac9e3dujco32p2l</string>
	<key>API_KEY</key>
	<string>AIzaSyBWhJwwMlkcrpsipLtwsZDD0TDZTb0u99A</string>
	<key>GCM_SENDER_ID</key>
	<string>908677582509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-app65464</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-app65464.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:908677582509:ios:74f602cdc3bb7169ce4024</string>
</dict>
</plist>